<launch>

  <arg name="sensor" default="0" />

  <!-- launch the node -->
  <node name="ascii_$(arg sensor)" pkg="rospix_utils" type="ascii" output="screen">

    <!-- load config from config file -->
    <rosparam file="$(find rospix_utils)/config/ascii.yaml" />

    <!-- map the correct topix -->
    <remap from="~image_in" to="/rospix/sensor_$(arg sensor)/image" />

  </node>

</launch>
