<launch>

  <arg name="sensor" default="0" />

  <!-- launch the node -->
  <node name="exposure_control_$(arg sensor)" pkg="utils" type="controller" output="screen">

    <!-- load config from config file -->
    <rosparam file="$(find utils)/config/controller.yaml" />

    <!-- map the correct topics SUBSCRIBERS -->
    <remap from="~image_in" to="/rospix/sensor_$(arg sensor)/image" />

    <!-- map the correct topics SERVICES -->
    <remap from="~do_exposure" to="/rospix/sensor_$(arg sensor)/do_continuous_exposure" />
    <remap from="~set_exposure" to="/rospix/sensor_$(arg sensor)/set_exposure_time" />

    <!-- map the correct topics of PUBLISHERS-->
    <remap from="~exposure_time" to="~exposure_time" />

  </node>

</launch>
