<launch>

  <arg name="sensor" default="0" />

  <arg name="node_name" default="integrator" />

  <arg name="topic_cluster_list" default="rospix3/cluster_list" />

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <arg name="standalone" default="true" />
  <arg name="manager" default="manager_name" />
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <node name="$(arg node_name)" pkg="nodelet" type="nodelet" args="$(arg nodelet) rospix_utils/Integrator $(arg nodelet_manager)" output="screen" launch-prefix="$(arg launch_prefix_debug)">

    <rosparam file="$(find rospix_utils)/config/integrator.yaml" />

      <!-- map the correct topics -->
    <remap from="~image_in" to="masker_$(arg sensor)/image_out" />
    <remap from="~cluster_list_in" to="$(arg topic_cluster_list)" />

    <remap from="~image_out" to="~image_out" />

  </node>

</launch>
