<launch>

  <arg name="sensor" default="0" />

  <!-- launch the node -->
  <node name="normalize_$(arg sensor)" pkg="utils" type="normalizer" output="screen">

    <!-- load config from config file -->
    <rosparam file="$(find utils)/config/normalizer.yaml" />

    <!-- map the correct topics -->
    <remap from="~image_in" to="/rospix/sensor_$(arg sensor)/image" />
    <remap from="~image_out" to="~image_out" />

  </node>

</launch>
